.custom-navbar {
  background-color: #0084da !important;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem !important;
}
.nav-link { 
  font-weight: 600 !important;
  font-size: 20px !important;
}
